# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Docker / stack local data
# -----------------------------
prometheus/data/
loki/data/
tempo/data/
grafana-data/
*.db

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Linux
# -----------------------------
*~

# -----------------------------
# Logs
# -----------------------------
*.log
